<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-left">
         <li><a href="#home" class="scroll"><span class="fa fa-home"></span> Home</a></li>
         <li><a href="#about" class="scroll"><span class="fa fa-user"></span> About </a></li> 
         <li><a href="#experience" class="scroll"><span class="fa fa-space-shuttle"></span> Experience</a></li>
         <li><a href="#portfolio" class="scroll"><span class="fa fa-picture-o"></span> Portfolio</a></li>
         <li><a href="#contact" class="scroll"><span class="fa fa-envelope"></span> Contact</a></li>
       </ul>
     </div>
  </div>
</nav>
  
<!-- Section 1 -->
  <section class="banner text-center" id="home">
    <div id="overlay">
      <div class="title">
        <h1><strong> Atul Singh</strong></h1>
        <h3 id="qualif"><strong> Python Developer</strong></h3>
      </div>
      <div class="row text-center">
        {% comment %} <div class="border contact"><a href="#"><h2 style="color: white;" id="borderText"><strong> CONTACT </strong></a></h2></div> {% endcomment %}
        <div class="border resume"><h2 style="color: white;" id="borderText"><a href="/download"><strong> RESUME </strong></a></h2></div>
      </div>
    </div>
  </section>
  
<!-- small-introduction --> 
<div class="small-intro">
  <p id="small-intro"><strong> Experienced System Engineer with a demonstrated history of working in the information technology and services industry. Skilled in Mean Stack, Algorithms, C (Programming Language), MongoDB, and Python (Programming Language). Strong information technology professional with a Bachelor of Technology - BTech focused in Computer Science from Graphic Era Deemed to be University.</strong></p>
</div>

<!-- Skilss --> 
  <section class="skills" id="about">
    <div class="text-center titles border">
      <h1 id="title"><strong> TECHNICAL SKILLS </strong></h1>  
    </div> 
    <h2 class="text-center" id="skills-label"><strong> Languages: </strong></h2> 
    <div class="row text-center">
        <div class="skill">Python</div>
        <div class="skill">HTML</div> 
        <div class="skill">C++ </div>
        <div class="skill">YAML</div>
        <div class="skill">javascript</div>
        <div class="skill">SQL</div>  
    </div> 
    <h2 class="text-center" id="skills-label"><strong> Frameworks & Libraries: </strong></h2>
    <div class="row text-center">
      <div class="skill">Django</div> 
      <div class="skill">loopback</div>
      <div class="skill">Bootstrap</div>
      <div class="skill">nodejs</div>
    </div> 
    <h2 class="text-center" id="skills-label"><strong> Databases: </strong></h2>
    <div class="row text-center">
      <div class="skill"> mySQL </div> 
      <div class="skill"> MongoDB </div>
      <div class="skill"> Postgres </div>
    </div> 
  </section>

<!-- Experience --> 
  <section class="ex-timeline" id="experience"> 
    <h1 class="text-center border titles" id="title"><strong> EXPERIENCE</strong> </h1> 
    <div class="job-timeline">
      <ul class="timeline">
        <li class="timeline-event">
          <label class="timeline-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-thumbnail"> October 2019 - June 2020 </p>
            <h5 id="workplace"><a href="#" target="_blank">Infosys</a></h5>
            <h5 id="jobPos"><strong> System Engineer Specialist </strong></h5>
            <p id="jobDesc"> Worked as a Full Stack Developer in this project. The aim of the
project is to create an application that predicts the price for carrier
and customer on the basis of their preference, boundaries and
historical data.
These pricings help carrier to buy or bid on best possible trips to
make convey of goods thus resulting in benefit both client and
customer.</p>
          </div>
        </li>
      </ul>
      <ul class="timeline">
        <li class="timeline-event">
          <label class="timeline-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-thumbnail"> July 2020 - jan 2022</p>
            <h5 id="workplace"><a href="#" target="_blank">Infosys</a></h5>
            <h5 id="jobPos"><strong> Specialist Programmer </strong></h5>
            <p id="jobDesc">•Develop an application that create variety of customize banking
schema code as per bank to bank requirements.
These schema code consist global as well as variable banking
features on the customize basis.
Design the core backend functionalities as well as the frontend
usecases</p>
          </div>
        </li>
      </ul>
    </div>  
  </section>
  
<!-- Projects-->   
  <section class="portfolios" id="portfolio">
    <h1 class="text-center border titles" id="title"><strong> PORTFOLIO </strong></h1>
    <div class="container">

       <div class="row">
        <div class="col-md-6">
          <div class="well">
            <a class="thumbnail">
               <img src="https://webdevtrick.com/wp-content/uploads/javascript-loop-slideshow-980x515.jpg" class="project-img">
            </a>
            <h2 id="projectTitle"><strong>Loop Slideshow</strong></h2>
            <a href="https://webdevtrick.com/demos/javascript-image-slideshow/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
            <a href="https://webdevtrick.com/javascript-loop-slideshow/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
          </div>
        </div>

          <div class="col-md-6">
              <div class="well">
                <a class="thumbnail">
                   <img src="https://webdevtrick.com/wp-content/uploads/before-and-after-image-slider-980x515.jpg" class="project-img">
                </a>
                <h2 id="projectTitle"><strong>Before & After Slider</strong></h2>
                <a href="https://webdevtrick.com/demos/after-before-slider/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
                <a href="https://webdevtrick.com/before-and-after-image-slider/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
              </div>
              </div>
      </div>

      <div class="row">
          <div class="col-md-6">
            <div class="well">
              <a class="thumbnail">
                 <img src="https://webdevtrick.com/wp-content/uploads/css-background-gradient-animation-980x515.jpg" class="project-img">
              </a>
              <h2 id="projectTitle"><strong>Loop Slideshow</strong></h2>
              <a href="https://webdevtrick.com/demos/css-gradient-background/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
              <a href="https://webdevtrick.com/css-gradient-background/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
            </div>
          </div>
  
            <div class="col-md-6">
                <div class="well">
                  <a class="thumbnail">
                     <img src="https://webdevtrick.com/wp-content/uploads/css-filter-image-editor.jpg" class="project-img">
                  </a>
                  <h2 id="projectTitle"><strong>Loop Slideshow</strong></h2>
                  <a href="https://webdevtrick.com/demos/css-filter-editor/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
                  <a href="https://webdevtrick.com/css-filter-image-editor/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
                </div>
                </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="well">
                <a class="thumbnail">
                   <img src="https://webdevtrick.com/wp-content/uploads/css-ghost-buttons.jpg" class="project-img">
                </a>
                <h2 id="projectTitle"><strong>Loop Slideshow</strong></h2>
                <a href="https://webdevtrick.com/demos/css-ghost-buttons/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
                <a href="https://webdevtrick.com/css-ghost-buttons/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
              </div>
            </div>
    
              <div class="col-md-6">
                  <div class="well">
                    <a class="thumbnail">
                       <img src="https://webdevtrick.com/wp-content/uploads/html-video-player-js-css.jpg" class="project-img">
                    </a>
                    <h2 id="projectTitle"><strong>Loop Slideshow</strong></h2>
                    <a href="https://webdevtrick.com/demos/html-video-player/" target="_blank" alt="Live Demo"><h2 id="liveDemo"><strong>Live Demo</strong></h2></a>
                    <a href="https://webdevtrick.com/html-video-player-javascript-css/" target="_blank" alt="Source Code"><h2 id="sourceCode"><strong>Source Code</strong></h2></a>
                  </div>
                  </div>
          </div>

    </div>
  </section>

<!-- contact -->  
  <section class="contact-section" id="contact">
    <h1 class="text-center">Conect With Me!</h1>
    <div class="contact-buttons">
      <a class="btn btn-linkedin btn-lg" href="https://www.linkedin.com/in/atul-singh-50037835/" target="_blank" ><i class="fa fa-2x fa-linkedin"></i></a>
      {% comment %} <a class="btn btn-github btn-lg" href="#" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a class="btn btn-drible btn-lg" href="#" target="_blank" ><i class="fa fa-2x fa-dribbble"></i></a>
      <a class="btn btn-facebook btn-lg" href="#" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a> {% endcomment %}
    </div> 
  </section> 
  
<!-- Footer -->
  <footer>
    <p id="footer">Copyright © Ak 2022</p>
  </footer>
</body>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script  src="/static/function.js"></script>

</body>
</html>